{% extends 'base.html.twig' %}

{% block title %}Sandrine COUPART - Bienvenue sur votre espace {{ app.user.username }}{% endblock %}

{% block body %}
        <div class="position-relative">
            <img src='
            {% if app.user %}
                {{ asset('img/espace_connecter_header.jpg') }}
            {% else %}
                {{ asset('img/header.jpg') }}
            {% endif %}
            ' style="width:100%; height:350px; object-fit:cover; opacity:.6" alt="">
            <div class="position-absolute top-50 start-50 text-center fs-1 translate-middle fw-bold" style="color:#0C0920">
                <span class="display-2 fw-bold" style="font-family: 'Baloo Bhaina 2', cursive;">
                {% if app.user.username == "SandrineAdmin09**" %}
                    Vos liste des recettes
                {% else %}
                    Listes des recettes disponibles pour {{app.user.username}}
                {% endif %}
                </span> <br>
            </div>
        </div>        

        <div class="container mt-5">
        {% if recettes|length == 0 %}
            <h2 class="text-center my-5">Il n'y a pas de recettes pour le moment</h2>
            <a href="{{path('app_add_recettes')}}" class="btn btn-success mx-auto d-block col-sm-4 col-lg-4 col-md-5 mb-5">Rajouter une recette</a>
        {% else %}
            {% for recette in recettes %}
                    {# <div class="card bg-light">
                    <div class="card-body">
                        <h4 class="card-title">{{ recette.titre }}</h4><br>
                        <h6 class="card-subtitle mb-2 text-muted">Temps de préparation : {{ recette.tempsdepreparation }}min</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Temps de repos : {{ recette.tempsderepos }}min</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Temps de cuisson : {{ recette.tempsdecuisson }}min</h6>
                        <br><br>
                        <h6 class="card-subtitle mb-2 text-muted">Étapes de préparation</h6>
                        <br>
                        <li class="list-group-item">{{ recette.etapesdepreparation }}</li>
                    </div>
                    </div> #}
                    <div class="row mx-auto">

                        <div class="col-4" style="font-size:12px; line-height:12px">
                            <p class="my-5" style="font-size:2.1vw; color:#DC9A7D; font-weight:bold">{{recette.titre}}</p>
                            <p><span style="color:#DC9A7D; font-weight:bold; font-size:1.2vw;">Temps de préparation :</span> {{recette.tempsdepreparation}} min</p>
                            <p><span style="color:#DC9A7D; font-weight:bold; font-size:1.2vw;">Temps de repos :</span> {{recette.tempsderepos}} min</p>
                            <p><span style="color:#DC9A7D; font-weight:bold; font-size:1.2vw;">Temps de cuisson :</span> {{recette.tempsdecuisson}} min</p>
                            <div class="mt-5">
                                <p class="mt-3" style="font-size:15px; color:#DC9A7D; font-weight:bold">Ingrédients :</p>
                                <p>{{recette.ingredients}}</p>
                            </div>
                        </div>


                        <div class="col col-xs-1 my-5" style="font-size:12px;">
                            <p class="my-3" style="font-size:15px; color:#DC9A7D; font-weight:bold">Etapes de préparation :</p>
                            <p>{{recette.etapesdepreparation}}</p>
                        </div>

                    </div>

                    <hr class="my-5 bg-dark">
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}