<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="description" content="Plateforme web pour savoir directement les recettes à adopter afin d'avoir des resultats satisfaisant">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>🥗</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://bootswatch.com/5/zephyr/bootstrap.min.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&family=Noto+Sans&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{{asset('css/style.css')}}">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    
    <body>
        {% include 'menu/menu.html.twig' %}
        
        {% block body %}{% endblock %}
        {% block footer %}
            <img src="{{asset('img/footer.png')}}" class="opacity-50 img-fluid w-100" alt="">
            <div class="d-flex justify-content-center gap-5 p-2" style="background:#0C0920; font-family: 'Baloo Bhaina 2', cursive;">
                <a class="text-decoration-none text-light" href="{{path('app_mention_legale')}}">Mentions Légales</a>
                <a class="text-decoration-none text-light" href="{{path('app_politique_confidentialité')}}">Politique de confidentialité</a>
            </div>
        {% endblock %}
    </body>
</html>
